body {
    padding:0;
    margin:0;
    overflow:hidden;
    height: 600px;
    background-color:#000000; 
}
.content_box {
    box-shadow: 0px 0px 8px #ffc0cb99;
}

.badge-base { 
    opacity:0.95;
}

canvas {
    position:fixed;
    left:0;
    top:0;
}
#first_box {
    height:100%;
}
#li_badge_container {
    position:absolute;
    bottom:0;
    padding:6px 6px 70px 6px;
    zoom:90%;
}
#about_div {
  text-align:right;
  border-radius: 5px;
  padding: 2px 4px 2px 4px;
  position: fixed;
  bottom:6px;
  right:6px;
  color:white;
  background-image: linear-gradient(to right, rgba(0,0,0,.5) , rgba(80, 43.9, 0,0.9));
  font-size:0.6em;
  font-weight:700;
  z-index:-1;
}
a:link {
  color: #AAAAAA;
}
a:visited {
  color: #888888;
}
a:hover {
  color: #AAAAAA;
}
a:activated {
  color: #888888;
}
.lato {
  font-family: 'Lato', sans-serif;
}